@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

#banner{
    width: 100%;

}

.banner_container{
    width: 1320px;
    margin: 0 auto;
    background: url(resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;


}  
.banner_img{
    width: 100%;
    height: 100%;

}




.banner_text h5{
    color: #ffff;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Merriweather', serif;
    text-align: center;
    margin-bottom: 16px;
    padding-top: 177px;
    padding-left: 130px;
    

}
.banner_text h1{
    color: #ffff;
    width: 632px;
    font-size: 72px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    padding-left: 390px;
    padding-bottom: 177px;
    text-align: center;

}
.container{
    width: 1320px;
    margin: 0 auto;
}
.middil_part_text{
    width: 100%;
    text-align: center;
} 
.middil_part_text h2{
    text-align: center;
    color: red;
    margin-top: 120px;
    font-size: 88px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
   
   
}
.middil_part_text p{
    color: red;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-align: center;
    line-height: 0;

}
.middil_part_text h4{
    font-size: 48px;
    font-weight: 700;
    font-family:'Inter', sans-serif ;
    text-align: center;
    line-height: 0;
}
.middil_part_text img{
    width: 800px;
    margin-bottom:120px;
}
.party_container{
    width: 1320px;
    margin: 0 auto;
    background: url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.party_img{
    width: 100%;
    height: 100%;
}

.party_text h3{
    color: #ffff;
    width: 602px;
    font-size: 64px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    padding-top: 126px ;
    margin-left: 126px;
    line-height: 88px;
}
.party_text p{
    color: #ffffffe2;
    font-size: 18px;
    font-weight: 400;
    font-family:'Inter', sans-serif ;
    margin-left: 126px;
    width: 697px;
    line-height: 30px;
}
.party_text button{
    
    color: #ffff;
    font-size:20px;
    font-family: 'Inter', sans-serif ;
    font-weight:700 ;
    background: no-repeat;
    margin-left: 158px;
    margin-bottom: 142px;
}
.place_container{
    width: 1320px;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
  
}
.time{
    margin-top: 120px;
    text-align: center;
    padding-bottom: 120px;
    
}
.time p{
    color: #070211;
    font-size: 32px;
    font-family: 'Inter', sans-serif ;
    font-weight:600;
    text-align: center;
    /* padding-left: 215px; */
   
    

}
.net{
   padding-top: 100px;
}
.importen{
    color: red;
}
.time button{
    width: 160px;
    height: 67px;
    background: orangered;
    border-radius: 20px;
    color: #ffff;
    font-size: 20px;
    font-family:'Inter', sans-serif  ;
    font-weight:700 ;
    border: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    
    
}
.jack{
    text-align: center;
}


.soon_container{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    margin-top: 120px;
   
}

.row1 h6{
    color:red ;
    font-family:'Inter', sans-serif  ;
    font-size: 24px;
    font-weight: 500;
    line-height: 0;
    margin-top: 160px;
}
.row1 h4{
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    font-family: 'Merriweather', serif;
    line-height: 0;

}
.row1 p{
    width: 393px;
    font-size: 20px;
    font-weight: 400;
    color: #070211;
    font-family: 'Inter', sans-serif  ;
    

}
.row2{
    padding-left: 70px;
    padding-right: 70px;
}
.row2 .sadik img{
    width: 364px;
    height: 364px;
    align-items: center;
    padding-left: 30px;
    padding-top: 16px;
} 
.sadik{
    width: 463px;
    height: 463px;
    border: 20px solid red;
    border-radius: 50%;
    flex-shrink: 0;
    padding-left: 40px;
    padding-top: 60px;
}
.row3 h2{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 0;
    margin-top: 185px;
}
.row3 p{
    color: rgba(7, 2, 17, 0.60);
    width: 276px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.row3 img{
    width: 140px;
    height: 140px;
    line-height: 0;
}


.position_container{
    width: 1320px;
    margin: 0 auto;
    padding-top: 120px;
    margin-bottom: 120px;
}
.titel{
    text-align: center;
    margin-bottom: 64px;
}
.titel h5{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 0;
    
}
.titel h3{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height:0;
}
.titel p{
    color: rgba(7, 2, 17, 0.60);

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
}
.conten_img{
    width: 100%;
    position: relative;
    height: 662px;

}
.conten_img .one {
    width: 674.5px;
    position: absolute;
    top: 65px;
    left: 20px;
    z-index: 6;

}
.conten_img .three{
    width: 429px;
    position: absolute;
    top: 0;
    right: 0;
}.conten_img .two{
    width: 206px;
    position: absolute;
    top: 150px;
    right: 300px;
    z-index: 10;
}
.conten_img .four{
    width: 1320px;
    position: absolute;
    left: 0;
   top: 430px;
   
}






.protfolio_container{
    width: 1320px;
    margin: 0 auto;
}

.roll{
    font-size:  24px ;
    font-weight: 500;
    font-family: 'Inter', sans-serif ;
    color: red;
    margin-top: 120px;
}
.writting_part h3{
    font-size: 48px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    color: #070211;
    line-height: 0;
}
.mati{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif ;
    color: #070211;
    width: 896px;
    
}

.s1 img{
    width: 424px;
    height: 450px;
    margin:6px 10px 6px 0px;
    overflow: hidden;
    overflow-clip-margin: content-box
}
.s2 img{
    width: 424px;
    height: 450px;
    margin:6px 10px 6px 0px;
    overflow: hidden;
    overflow-clip-margin: content-box
}

.mail_container{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
    background: rgba(255, 0, 0, 0.05);
    padding-bottom: 120px;


}
.mail_container img{
    margin-top: 80px;

  
}
.mail_container h3{
    color: #070211;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 0;
    text-transform: capitalize;
}
.mail_container p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif ;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    padding-left: 212px;
   
}
input{
    width: 648px;
    height: 72px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    border: none;
    padding-left: 30px;
}
.placeholder{
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: 'Inter', sans-serif ;
    font-size: 18px;
    font-weight: 400;
}
button{
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    
}
.leka{
    color: #ffff;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.mat{
    background: #070211;
}
.footer_container{
    width: 1320px;
    margin: 0 auto;
    background: #070211;
}
.text{
    display: flex;
    padding-top: 120px;
    
}
.text .left p{
    color: #ffff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    width: 350px;
    margin-right:560px;

}
.text .right p{
    color: #ffff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    margin-right: 120px;
}
hr{
   opacity: 20%;
}
.icon{
    margin-top: 98px;
    text-align: center;
}
.icon img{
    margin: 10px 10px 10px 10px;
}
.copy{
    display: flex;
    padding-bottom: 120px;
}
.copy .left1 p{
    color: #ffff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    margin-right: 880px;
    
}
.copy .right1 p{
    color: #ffff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    
    
}


/* 
.position_container{
    width: 1320px;
    margin: 0 auto;
    padding-top: 120px;
}
.titel{
    text-align: center;
    margin-bottom: 64px;
}
.titel h5{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 0;
    
}
.titel h3{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height:0;
}
.titel p{
    color: rgba(7, 2, 17, 0.60);

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 160%
}
.conten_img{
    width: 100%;
    position: relative;

}
.conten_img .one {
    width: 674.5px;
    position: absolute;
    top: 65px;
    left: 20px;
    z-index: 6;

}
.conten_img .three{
    width: 429px;
    position: absolute;
    top: 0;
    right: 0;
}.conten_img .two{
    width: 206px;
    position: absolute;
    top: 150px;
    right: 300px;
    z-index: 10;
}
.conten_img .four{
    width: 1320px;
    position: absolute;
    left: 0;
   top: 430px;
} */
 





